{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_emailtemplate/compose

    A preview of the email compose page

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * footer string

    Example context (json):
    {
        "footer": "--\n\nThe footer string"
    }
}}

<div style="max-width: 40em; margin: 0 auto; border: 1px solid #ddd;  border-radius: 0.5rem; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);">
    <div class="card-header" style="background: #eee; padding: 1em; border-bottom: 1px solid #ddd">
        <table>
            <tr>
                <td class="text-right"><b>From:</b></td>
                <td><span class="badge badge-secondary">{{from}}</span></td>
            </tr>
            <tr>
                <td class="text-right"><b>To:</b></td>
                <td><span class="badge badge-secondary">Emily Blogs &lt;emily@acme.com&gt;</span></td>
            </tr>
            <tr>
                <td class="text-right"><b>Subject:</b></td>
                <td>Check out my new email footer!</td>
            </tr>
        </table>
    </div>
    <div style="padding: 1em">
        <p>Hi Emily!</p>
        <p>This is a fake email with a bunch of text so you can kinda see what my email footer might look like.</p>
        <p>In reality it won't look <i>exactly</i> like this because styling html in emails is hard, and the html styles
            on this site won't be present in the email, but it is a rough guide at least. Really we need to send this
            email to a few people with few different email clients to test it properly. Everything else directly under
            this is the generated footer.</p>
        {{{footer}}}
    </div>
</div>
<br>
