{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_emailtemplate/email

    Generates an email footer for a specific user

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * fullname name
    * countryname
    * department
    * site

    Example context (json):
    {
        "fullname": "Joe blogs",
        "countryname": "Wakanda",
        "department": "Catalyst",
        "site": {
            "fullname": "This site",
            "logocompact": "http://some.com/logo"
        }
    }
}}
<br>


<table class="sc-gPEVay eQYmiW" style="vertical-align:
        -webkit-baseline-middle; font-size: small; font-family: Arial;" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<table style="vertical-align:
                -webkit-baseline-middle; font-size: small; font-family:
                Arial;" cellspacing="0" cellpadding="0">
						<tr> {{#avatar}}
							<td style="vertical-align: middle;"> <img src="{{avatar}}">&nbsp; </td>
							<td width="30">
								<br>
							</td> {{/avatar}}
							<td style="vertical-align: middle;">
								<h3 color="#000000" style="margin: 0px; font-size: 16px; color: rgb(0, 0, 0);">{{fullname}}</h3> {{#custom_jobtitle}}
								<p color="#000000" font-size="small" class="sc-fMiknA bxZCMx" style="margin: 0px;
                        color: rgb(0, 0, 0); font-size: 12px;
                        line-height: 20px;">{{custom_jobtitle}}</p> {{/custom_jobtitle}} {{#department}}
								<p color="#000000" font-size="small" class="sc-fMiknA bxZCMx" style="margin: 0px;
                        color: rgb(0, 0, 0); font-size: 12px;
                        line-height: 20px;">{{department}}</p> {{/department}}
								<p color="#000000" font-size="small" class="sc-dVhcbM fghLuF" style="margin: 0px;
                        font-weight: 500; color: rgb(0, 0, 0);
                        font-size: 12px; line-height: 20px;"><span>Catalyst
                          IT Australia</span></p> {{#custom_workinghours}}
								<p color="#000000" font-size="small" class="sc-eqIVtm kRufpp" style="color: rgb(0, 0,
                        0); margin: 0px; font-size: 12px; line-height:
                        20px;">{{custom_workinghours}}</p> {{/custom_workinghours}} </td>
							<td width="30">
								<br>
							</td>
							<td color="#cd0634" direction="vertical" style="width: 1px; border-bottom: none; border-left: 1px solid #bf2328" width="1">
								<br> </td>
							<td width="30">
								<br>
							</td>
							<td style="vertical-align: middle;">
								<table class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle; font-size: small; font-family: Arial;" cellspacing="0" cellpadding="0">
										<tr style="vertical-align: middle;" height="25">
											<td style="vertical-align: middle;" width="30">
												<table class="sc-gPEVay eQYmiW" style="vertical-align:
                                -webkit-baseline-middle; font-size:
                                small; font-family: Arial;" cellspacing="0" cellpadding="0">
														<tr>
															<td style="vertical-align: bottom;"><span color="#cd0634" width="11" class="sc-jlyJG bbyJzT" style="display: block;
                                        background-color: rgb(205, 6,
                                        52);"><img
src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/phone-icon-2x.png"
                                          color="#cd0634"
                                          class="sc-iRbamj blSEcj"
                                          style="display: block;
                                          background-color: rgb(205, 6,
                                          52);" width="13"></span></td>
														</tr>
												</table>
											</td>
											<td style="padding: 0px; color: rgb(0, 0,
                              0);"> {{#phone1}} <a href="tel:{{phone1}}" color="#000000" class="sc-gipzik iyhjGb" style="text-decoration: none; color:
                                rgb(0, 0, 0); font-size: 12px;">{{phone1}}</a> {{#phone2}} | {{/phone2}} {{/phone1}} {{#phone2}} <a href="tel:{{phone2}}" color="#000000" class="sc-gipzik iyhjGb" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;">{{phone2}}</a></td> {{/phone2}} </tr>
										<tr style="vertical-align: middle;" height="25">
											<td style="vertical-align: middle;" width="30">
												<table class="sc-gPEVay eQYmiW" style="vertical-align:
                                -webkit-baseline-middle; font-size:
                                small; font-family: Arial;" cellspacing="0" cellpadding="0">
														<tr>
															<td style="vertical-align: bottom;"><span color="#cd0634" width="11" class="sc-jlyJG bbyJzT" style="display: block;
                                        background-color: rgb(205, 6,
                                        52);"><img
src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/email-icon-2x.png"
                                          color="#cd0634"
                                          class="sc-iRbamj blSEcj"
                                          style="display: block;
                                          background-color: rgb(205, 6,
                                          52);" width="13"></span></td>
														</tr>
												</table>
											</td>
											<td style="padding: 0px;"><a href="mailto:{{email}}" color="#000000" class="sc-gipzik iyhjGb" style="text-decoration: none; color:
                                rgb(0, 0, 0); font-size: 12px;">{{email}}</a></td>
										</tr>
										<tr style="vertical-align: middle;" height="25">
											<td style="vertical-align: middle;" width="30">
												<table class="sc-gPEVay eQYmiW" style="vertical-align:
                                -webkit-baseline-middle; font-size:
                                small; font-family: Arial;" cellspacing="0" cellpadding="0">
														<tr>
															<td style="vertical-align: bottom;"><span color="#cd0634" width="11" style="display: block;
                                        background-color: rgb(205, 6, 52);">
                                        <img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/link-icon-2x.png"
                                          color="#cd0634"
                                          style="display: block;
                                          background-color: rgb(205, 6,
                                          52);" width="13"></span></td>
														</tr>
												</table>
											</td>
											<td style="padding: 0px;"><a href="//www.catalyst-au.net" color="#000000" class="sc-gipzik iyhjGb" style="text-decoration: none; color:
                                rgb(0, 0, 0); font-size: 12px;"><span>www.catalyst-au.net</span></a></td>
										</tr> {{#address}}
										<tr style="vertical-align: middle;" height="25">
											<td style="vertical-align: middle;" width="30">
												<table class="sc-gPEVay eQYmiW" style="vertical-align:
                                -webkit-baseline-middle; font-size:
                                small; font-family: Arial;" cellspacing="0" cellpadding="0">
														<tr>
															<td style="vertical-align: bottom;"><span color="#cd0634" width="11" class="sc-jlyJG bbyJzT" style="display: block;
                                        background-color: rgb(205, 6,
                                        52);"><img
src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/address-icon-2x.png"
                                          color="#cd0634"
                                          class="sc-iRbamj blSEcj"
                                          style="display: block;
                                          background-color: rgb(205, 6,
                                          52);" width="13"></span></td>
														</tr>
												</table>
											</td>
											<td style="padding: 0px;"><span color="#000000" class="sc-csuQGl CQhxV" style="font-size: 12px; color: rgb(0, 0,
                                0);">{{address}}</span></td>
										</tr> {{/address}}
								</table>
							</td>
						</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table class="sc-gPEVay eQYmiW" style="vertical-align:
                -webkit-baseline-middle; font-size: small; font-family:
                Arial; width: 100%;" cellspacing="0" cellpadding="0">
						<tr>
							<td height="30">
								<br> </td>
						</tr>
						<tr>
							<td color="#cd0634" direction="horizontal" class="sc-jhAzac hmXDXQ" style="width: 100%;
                      border-bottom: 1px solid #bf2328;
                      border-left: none; display: block;" height="1">
								<br> </td>
						</tr>
						<tr>
							<td height="30">
								<br> </td>
						</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table class="sc-gPEVay eQYmiW" style="vertical-align:
                -webkit-baseline-middle; font-size: small; font-family:
                Arial; width: 100%;" cellspacing="0" cellpadding="0">
						<tr> {{#site.logocompact}}
							<td style="vertical-align: top;">
								<a href="https://catalyst-au.net/"><img src="{{site.logocompact}}" title="{{site.fullname}}" style="max-width: 150px"></a>
							</td> {{/site.logocompact}}
							<td style="text-align: right; vertical-align: top;">
								<table class="sc-gPEVay eQYmiW" style="vertical-align: -webkit-baseline-middle;
                        font-size: small; font-family: Arial; display:
                        inline-block;" cellspacing="0" cellpadding="0">
										<tr style="text-align: right;">
											<td>
												<a href="https://twitter.com/catalyst_it_au" color="#a20004" class="sc-hzDkRC kpsoyz" style="display: inline-block; padding:
                                0px; background-color: rgb(162, 0, 4);"><img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/twitter-icon-2x.png" alt="twitter" color="#a20004" style="background-color: rgb(162, 0,
                                  4); max-width: 135px; display: block;" height="24"></a>
											</td>
											<td width="5">
												<br> </td> {{#custom_linkedin}}
											<td>
												<a href="//www.linkedin.com/in/{{custom_linkedin}}" color="#a20004" class="sc-hzDkRC kpsoyz" style="display: inline-block; padding:
                                0px; background-color: rgb(162, 0, 4);"><img src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/linkedin-icon-2x.png" alt="linkedin" color="#a20004" style="background-color: rgb(162, 0,
                                  4); max-width: 135px; display: block;" height="24"></a>
											</td>
											<td width="5">
												<br> </td> {{/custom_linkedin}} </tr>
								</table>
							</td>
						</tr>
				</table>
			</td>
		</tr>
</table>
<br>
<p style="color: #777; font-size: 10px; max-width: 50em;">CONFIDENTIALITY NOTICE: This email is intended for the named recipients only. It may contain privileged, confidential or copyright information. This email is intended for the named recipients only. It may contain privileged, confidential or copyright information. If you are not the named recipient, any use, reliance upon, disclosure or copying of this email or its attachments is unauthorised. If you have received this email in error, please reply via email or call +61 2 8004 5928. </p>

