--<br>
<br>
{{fullname}}<br>

{{#department}}
    {{department}}<br>
{{/department}}

{{#institution}}
    <b>{{institution}}</b><br>
{{/institution}}

{{#city}}{{city}}, {{/city}}{{countryname}}<br>

{{#phone2}}
    Mobile: {{phone2}}<br>
{{/phone2}}

{{#profileimageurlsmall}}
    <img src="{{profileimageurlsmall}}"><br>
{{/profileimageurlsmall}}

{{#site.logocompact}}
    <img src="{{site.logocompact}}" alt="{{fullname}}" width="140">
{{/site.logocompact}}

<p><small>CONFIDENTIALITY NOTICE: This email is intended for the named recipients only.
It may contain privileged, confidential or copyright information. </small></p>

